body {
    font-family: "Montserrat", sans-serif;
    }
table {
    border-collapse: collapse;
}
div {
    display: block;
    
}
.block {
    width: 800px;
    height: 800px;
}
.header1 {
    width: 800px;
    height: 200px;
    border: 5px solid orangered;

    text-align: center;
}
/*.middle {
    width: 800px;
    height: 400px;
    
}*/
.nav {
    width: 100px;
    height: 400px;
    border: 5px solid orangered;
    margin: 0px;
    border-bottom-color: gray;
    text-align: center;
}

.section { 
    width: 700px;
    height: 400px;
    margin-left: 100px;
    border: 5px solid orangered;
    border-bottom-color: gray;
    text-align: center;

}
.footer {
    border: 5px solid gray;
    width: 800px;
    height: 200px;
}
.foot {
    width: 800px;
    height: 200px;
    border: 5px solid gray;
    text-align: center;
}
   
